/* style.css
 * This file provides css styles.
 */

html {
	height: 100%;
};

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	width: 100%;
	margin: auto;
};

nav {
	background-color: brown;
	color: #ffffff;
	display: inline;
};

nav a {
	text-decoration: none;
	color: #ffffff;
}

nav a:hover {
	text-decoration: none;
	background-color: #ffffff;
	color: brown;
}

.navbar-brand {
	font-weight: bold;
	font-size: 1.5em;
}

#map {
	background-color: darkorange;
}
